body {
  font-family: Calibri, sans-serif;
  font-size: 14px
  width: 75%
  }

h1 {
  font-size: 36px;
  color: #D67F2D;
}

h2 {
  font-size: 24px;
  color: #D67F2D;
  
}
.floatright {
  float: right;
  margin: 0 24 10px 10px;
}

#institution {
  color: #D67F2D;
  font-weight: bold;
}
