body {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  margin-left: 25%;
  margin-right: 25%:
  }

h1 {
  font-size: 36px;
  color: #D67F2D;
  margin: 0;
}

h2 {
  font-size: 24px;
  color: #D67F2D;  
}

h3 {
  color: #AEADAD;
  font-size: 18px;
  font-weight: normal;
}

h4 {
  font-size: 14px;
  font-style: italic;
}

.institution {
  color: #D67F2D;
  font-weight: bold;
}

.left_column {
  float: left;
  width: 49%;
}

.right_column {
  float: right;
  width: 49%;
}

a:link {
  color: #D67F2D;
  text-decoration: none;
}

a:visited {
  color: #D67F2D;
}

a:hover {
  color: #AEADAD;
}

#wrapper {
  overflow: auto;
}

.employ_dates {
  color: #AEADAD;
  float: right;
  display: inline;
}

/* #header {
  background-color: #AEADAD;
  border-radius: 25px;
} */
  
