body {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  width: 75%;
  margin-left: 25px;
  margin-right: 25px:
  }

h1 {
  font-size: 36px;
  color: #D67F2D;
  margin: 0;
}

h2 {
  font-size: 24px;
  color: #D67F2D;
  
}
.floatright {
  float: right;
  margin: 0 24 10px 10px;
}

.institution {
  color: #D67F2D;
  font-weight: bold;
}

a:link {
  color: #D67F2D;
  text-decoration: none;
}

a:visited {
  color: #D67F2D;
}

a:hover {
  color: #AEADAD;
}

div {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

/* #header {
  background-color: #AEADAD;
  border-radius: 25px;
} */
  
